#block-search,
#block-search * {
    box-sizing: border-box;
}

#block-search {
    background: #F5F2F0;
    border: 1px solid #DDD2C9;
}

.be-container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 30px;
}

#be-booking-form {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#tl-booking-cart {
    z-index: 1 !important;
}