@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.slider-container {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
}

.villa-slide {
  position: relative; /* Positioning for the image and coming soon */
}

.image-container {
  position: relative; /* To position the image and the "Coming Soon" circle */
  /* Set a fixed height for the image container */
}


.coming-soon {
  position: absolute;
  top: 20px; /* Adjust based on your preference */
  right: 10px;
  width: 100px; /* Set a fixed width for the circle */
  height: 100px;
   display: flex; /* Flexbox to center the text */
  align-items: center; /* Center vertically */
  justify-content: center;
 /* Background color for the circle */
  border: 1px solid white; /* White border */
  border-radius: 50%; /* Make it a circle */
  padding: 10px; /* Padding around the text */
   /* Optional shadow */
  font-weight: bold;
  color: white; /* Text color */
  text-align: center;
}

.villa-info {
  position: absolute;
  bottom: 10%; /* 10% above the bottom */
  text-align: center;
  color: white; /* Text color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding around the text */
}



.swiper{
  width: 100%;
  position: relative;
}


.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 0px  !important;
  bottom: 0px !important; /* Position near the bottom */
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; /* Size of the button */
  height: 50px;
  cursor: pointer;
 /* Adjust vertical centering   transform: translateY(50%); */
}

.swiper-button-prev {
  left: calc(50% - 60px); /* Center the left button */
}

.swiper-button-next {
  left: calc(50% + 10px); /* Center the right button with space */
}

/* .swiper-button-next svg,
.swiper-button-prev svg {
  width: 100%;
  height: 100%;
  fill: #fff; /* Change SVG fill color */


/* Add any hover effects or styles for better UX */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.8;
}

.faq h2{
  font-family: var(--font-heading);
  font-size: x-large;
  font-weight: 500;
}

.faq p{
   font-family: var(--font-body);
  font-size: medium;
  font-weight: 500;

}

#block-search,
#block-search * {
  box-sizing: border-box;
}

#block-search {
  max-width: 300px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.55);
}

.be-container {
  padding: 0 30px;
}

#be-booking-form {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#tl-booking-cart {
  z-index: 1 !important;
}